body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(148, 194, 217);
}

.mgn-right {
    margin-right: 1rem;
}
  
.header {
    text-align: center;
    margin: 5rem 2.5rem;
    letter-spacing: .5rem;
    color: rgb(62, 63, 61);
}
  
.body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.bill-input, .people-no-input, .tip-amt-input {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    border: 0;
    font-size: 1.5rem;
    background-color: rgba(148, 194, 217, 0.252);
    font-weight: 700;
    border-radius: .5rem;
    margin-bottom: 5rem;
    direction: rtl;
}

.tips-btn {
    font-size: .95rem;
    padding: 1rem .7rem;
    border-radius: 1rem;
    background-color: rgb(100, 183, 255);
    font-weight: 700;
    text-align: center;
}

.tip-percents {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.tip-percent {
    margin: 0;
    box-sizing: border-box;
    width: 46.5%;
    border: 2px solid rgb(148, 194, 217);
    background-color: rgba(148, 194, 217, 0.252);
    font-size: 1.5rem;
    padding: 2rem 1rem;
    text-align: center;
    font-weight: 700;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.tip-input {
    margin: 0;
    padding: .1rem 1rem;
    margin-bottom: 1rem;
}

.result-display {
    box-sizing: border-box;
    background-color: rgb(22, 43, 85);
    border-radius: 1.5rem;
    padding: 5rem 3rem;
    padding-bottom: 3rem;
    color: rgb(255, 255, 255);
    letter-spacing: .2rem;
}
  
.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.result p {
    color: rgb(183, 185, 186);
}

.amount {
    color: rgb(100, 183, 255);
    font-weight: 700;
}

.reset {
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    background-color: rgb(100, 183, 255);
}

.footer {
    text-align: center;
    padding: 1rem;
}